<% hashing = BCrypt::Password.create(@authors) %>
<%= turbo_stream.replace "playlist_body" do %>
  <div id="playlist_body" class="container mx-auto mb-64">
    <h2 class="text-2xl font-bold text-center text-black dark:text-white my-6"><%= params[:q] %></h2>
    <div class="grid gap-4 grid-cols-2 md:grid-cols-5">
      <% @authors.each_with_index do |author, index| %>
        <div>
          <%= render partial: "home/card_music", locals: {music: author, index: index, name: "#{hashing}"} %>
        </div>
      <% end %>
    </div>
    <div id="playlist" data-name-playlist="<%= hashing %>" data-controller="search" data-action="turbo:submit-start->search#teste" data-item-playlist-param='<%= @json.to_json %>'></div>
  </div>
<% end %>