<div class="max-w-xs bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <%= image_tag music.music.image_cover, class: "rounded-t-lg" if music.music.image_cover.attached?%>
    </a>
    <div class="p-5">
        <span>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= music.music.title%></h5>
        </span>
        <p>
            <%= link_to music.user.artistic_name, profile_path(music.user), class: "mb-3 font-normal text-gray-700 dark:text-gray-400"  %>
        </p>

        <div data-controller="audio-player" data-action="click->audio-player#shuffle click->audio-player#showPlayer" class="cursor-pointer amplitude-play w-12 h-12 rounded-full bg-white border border-play-pause-light-border shadow-xl flex items-center justify-center dark:bg-play-pause-dark-background dark:border-play-pause-dark-border" data-amplitude-song-index="<%= index %>" data-amplitude-playlist="<%= name %>">
            <svg class="ml-[10px]" width="24" height="30" viewBox="0 0 31 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M29.6901 16.6608L4.00209 0.747111C2.12875 -0.476923 0.599998 0.421814 0.599998 2.75545V33.643C0.599998 35.9728 2.12747 36.8805 4.00209 35.6514L29.6901 19.7402C29.6901 19.7402 30.6043 19.0973 30.6043 18.2012C30.6043 17.3024 29.6901 16.6608 29.6901 16.6608Z" class="fill-slate-500 dark:fill-slate-400" />
            </svg>
        </div>
    </div>
</div>
